header {
    background-image: url("new-year-new-me/images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 2100px;
}



.header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    padding: 300px;
    text-align: end;
}

.header-info p {
    width: 494px;
    height: 78px;
    font-weight: 400;
    font-size: 25px;
    color: #444343;
}

.header-info h1 {
    font-size: 50px;
}

.section1 nav {
    width: 570px;
    height: 300px;
    position: bottom, left;
}



.btn-primary {
    background-color: darkorange;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    font-size: large;
}

.section2 {
    display: flex;
}

.section2 nav {
    width: 570px;
    height: 725px;
    padding: 130px 0 130px 206px;
}

.page-area {
    max-width: 1600px;
    margin: 0 auto;
}

.section2-title {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.section2-discription {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 394px 320px 100px 90px;
}

.plans-section {
    display: flex;
    padding: 0 220px 120px 235px;
}

/* creat cection */

.creat {
    display: flex;
    padding: 0 230px 100px 230px;
    background-color: beige;
}

.creat nav {
    padding-top: 50px;
}

.creat-section {
    margin-right: 30px;
}

.creat-section h3 {
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.creat-section p {
    text-align: justify;
}

.plans-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.plans-section div h4 {
    font-weight: 700;
    font-size: 30px;
}

/* linear gradient */

.linear-gradient {
    width: 1140px;
    height: 401px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px auto 0 auto;
    background-image: url("new-year-new-me/images/gradient2.png"), url("/new-year-new-me/images/watch.png")
}

.linear-gradient-text {
    padding: 70px;
}

.linear-gradient h1 {
    font-size: 45px;
    color: aliceblue;
}

.gradient-button {
    background-color: rgb(253, 253, 253);
    color: darkorange;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
    font-size: large;
}

/* footer information */

.footer-info {
    display: flex;
    background-color: black;
    width: 100%;
    height: 577px;
    color: aliceblue;
    margin-top: 110px;
    /* padding-right: 330px; */
}

.footer-info-disc {
    padding: 130px 330px;
}

.footer-info-disc h3 {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;

}

.footer-info-disc p {
    width: 485px;
    height: 80px;
}

.footer-info-disc nav a {
    text-decoration: none;
    width: 175px;
    height: 46px;

}

.twiter-image {
    margin-left: 5px;
    margin-right: 5px;
}

.footer-info-disc div small {
    display: flex;
    padding-bottom: 10px;
}

.footer-other-div {
    display: flex;
    align-items: center;

}

.footer-other-div h4 {
    width: 123px;
    height: 29px;
    font-weight: 600;
    font-size: 25px;
}

.footer-info-btn {
    color: red;
    background-color: aliceblue;
    width: 170px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    width: 175px;
    height: 46px;
    padding-top: 20px 36px;
    font-weight: 600;
    font-size: 20px;
}

.form {
    margin-bottom: 16px;
    width: 325px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0;
}